body {
  background: rgba(128, 128, 128, 0.281);
}

img {
  width: 100%;
}

.modal-container {
  display: block;
  margin: auto;
  max-width: 40em;
}

ul {
  height: 10em;
  list-style: none;
  font-size: 1em;
}

li {
  display: block;
  width: 100%;
  padding-top: 1em;
}
